@import '../globals.less';
@import '../components/ui/buttons.less';

.gallery__search {
    padding: 10px;
    display: flex;

    .gallery__search-wrapper {
        display: flex;
        flex: 1;
        max-width: 100%;

        .gallery__search-query {
            flex-grow: 1;
            height: 42px;
            max-width: ~"calc(100% - 42px)";
        }
    
        .gallery__search-button {
            border: 2px solid @color-complimentary;
            width: 42px;
            height: 42px;
    
            > i {
                font-size: 20px;
                padding-top: 2px;
            }
        }

        .gallery__search-keywords-button {
            position: absolute;
            border: none;
            background: transparent;
            right: 53px;
            top: 10px;
            width: 42px;
            height: 42px;

            i {
                color: @color-accent;
                font-size: 17px;
                position: relative;
                top: 2px;
            }
        }
    }

    .gallery_search-keywords {
    }
}

.gallery__buttons {
    display: flex;

    .gallery_search-only-open,
    .gallery_search-only-favourites {
        flex-basis: 50%;
        background: @color-warning;
        border: 1px solid #ccc;
        padding: 8px;
        margin: 8px;
        color: white;
        border-radius: 2px;

        &:last-of-type {
            margin-left: 0;
        }

        &.gallery_search-only-open--selected,
        &.gallery_search-only-favourites--selected {
            background: @color-success;
        }
    }
}

.gallery__locations-list {
    overflow-y: auto;
    overflow-x: hidden;

    .gallery__location-item {
        border-bottom: 2px solid @border-color;
        padding: 10px;
        margin-bottom: 2px;
        box-shadow: ~"1px 1px 10px 2px rgb(0 0 0 / 10%)";
        margin: 10px;

        > * {
            padding-bottom: 5px;
        }
    }

    .gallery__location-item-name {
        font-size: @font-size-large;
    }

    .gallery__location-item-description {
    }

    .gallery__location-item-footer {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .gallery__location-item-hours {
        font-size: @font-size-small;
    }

    .gallery__location-item-favourite {
        .button--favourite();
    }
}
