@import '../_globals';

.location-item-submission-view {
    input, textarea {
        width: 220px;
        margin-bottom: 16px;
    }

    .button__location-item-submission-view__submit {
        width: 100%;
        padding: 16px;
        font-size: @font-size-larger;
        border: 1px solid black;
        text-align: center;
    }
}

@media screen and (min-width: @breakpoint-tablet) {
    .location-item-submission-view {
        input, textarea {
            width: 80%;
        }
    }
}