@import '../globals.less';
@import '../components/ui/buttons.less';

.location-item-submission-view {
    > h2 {
        margin-top: -5px;
    }

    input, textarea { 
        max-width: 100%;
        min-width: 100%;
        margin-bottom: 16px;
    }

    .button__location-item-submission-view__submit {
        .button--main();
    }
}

.places__add-location {
    .button--add();
}

.location-item-submission-view__close {
    .button--close()
}

@media screen and (max-width: @breakpoint-tablet) {
    .location-item-submission-view > h2 {
        margin-top: -2px;
    }
}