@import './globals.less';
@import './layout.less';

@import './components/map.less';
@import './components/header.less';
@import './components/gallery.less';
@import './components/location-item-edit-view.less';
@import './components/location-item-full-view.less';
@import './components/location-item-submission-view.less';
@import './components/gallery.less';

@import './components/ui/buttons.less';
@import './components/ui/form.less';

html,
body {
    overflow-y: hidden;
    height: 100vh;
    max-width: 100%;
    font-size: @font-size-base;
    line-height: @font-size-base-line-height;
    margin: 0;
    background: #fefefe;
    font-family: @font-family-primary;

    * {
        box-sizing: border-box;
    }
}