@import '../../globals.less';

.button--main {
    width: 100%;
    padding: 16px;
    font-size: @font-size-larger;
    border: 0;
    border-radius: 2px;
    text-align: center;
    background: @color-success;
    line-height: 0.9rem;
    color: white;

    &:hover, &:active, &:focus {
        outline: 0;
        padding: 14px;
        border: 2px solid #DB4B73;
    }
}

.button--add {
    position: fixed;
    bottom: 30px;
    right: 10px;
    background: @color-success;
    border-radius: 2px;
    border: none;
    height: 64px;
    width: 64px;

    i {
        color: #fff;
    }

    @media screen and (min-width: @breakpoint-tablet) {
        .places__add-location {
            height: 82px;
            width: 83px;
        }
    }
}

.button--close {
    background-color: transparent;
    width: 30px;
    height: 30px;
    position: absolute;
    right: 12px;
    border: none;
    top: 15px;

    &:focus,
    &:hover,
    &:active {
        border: none;
        outline: none;
    }

    @media screen and (min-width: @breakpoint-tablet) {
        .button--close {
            top: auto;
        }
    }
}
