@import '../../_globals';

.places__add-location {
    position: fixed;
    bottom: 30px;
    right: 30px;
    background: #089637;
    height: 64px;
    width: 64px;
    border: 0;
}

.places__add-location i {
    color: #fff;
}

.location-item-submission-view__close,
.location-item-edit-view__close,
.location-item-full-view__close {
    background-color: transparent;
    width: 30px;
    height: 30px;
    position: absolute;
    right: 12px;
    border: none;

    &:focus, &:hover, &:active {
        border: none;
        outline: none;
    }
}

@media screen and (min-width: @breakpoint-tablet) {
    .places__add-location {
        height: 82px;
        width: 83px;
    }
}